@font-face {
  font-family: 'PSL-Kanda';
  /* src: url('../fonts/PSL-Kanda.eot'); */
  /* src: url('../fonts/PSL-Kanda.woff') format('wotf'), url('../fonts/PSL-Kanda.ttf') format('truetype'), url('../fonts/PSL-Kanda.svg') format('svg'); */
}

@font-face {
  font-family: 'PSL-KandaBold';
  /* src: url('../fonts/PSL-KandaBold.eot'); */
  /* src: url('../fonts/PSL-KandaBold.woff') format('wotf'), url('../fonts/PSL-KandaBold.ttf') format('truetype'), url('../fonts/PSL-KandaBold.svg') format('svg'); */
}

body {

  margin: auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, 'PSL-Kanda';
  font-size: 12px;
  color: #000;
  background-color: #F4F4F4;
  font-weight: normal;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  overflow-x: hidden;

}

.header-logo {
  width: 300px;
  height: 50px;
  background-image: url(../img/logo.png);
  background-position: left top;
  background-repeat: no-repeat;
  float: left;
  clear: none;
  cursor: pointer;
  margin-left: 8px;
}

.layout-content {
  padding: 0 100px
}

.f_header {
  margin-top: 50px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .layout-content {
    padding: 0 10px
  }

  .f_header {
    font-size: 12px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .layout-content {
    padding: 0 100px
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {}

.ant-card-head-title {

  /* font-family:Arial, Helvetica, sans-serif,'PSL-Kanda';  */
  font-size: 14px;
  color: #000;
  font-weight: 700
}