<template>
  <div>
    <a-layout id="components-layout" class="layout">
      <a-layout-content class="layout-content">
        <a-card :bordered="false">
          <a-card-meta class="header-logo"></a-card-meta>
          <div class="f_header">
            <h4>การกรอกข้อมูลออนไลน์ เพื่อยื่นขอรับใบอนุญาตผลิตพลังงานควบคุม</h4>
          </div>
          <a-steps :current="currentTab" v-if="!ShowFinish">
            <a-step v-for="item in steps" :key="item.title" :title="item.title" />
          </a-steps>
          <div class="steps-content" v-if="!ShowFinish">
            <step1 v-if="currentTab === 0" @nextStep="nextStep" />
            <step2 v-if="currentTab === 1" @nextStep="nextStep" @prevStep="prevStep" />
            <step3 v-if="currentTab === 2" @prevStep="prevStep" @finishStep="finishStep" />
          </div>
          <div v-if="ShowFinish">
            <a-row>
              <a-col :span="24" style="text-align: center;">
                <a-progress type="circle" :percent="counterUp" />
                <br />
                <div v-if="counterUp==100">
                  <h2>บันทึกข้อมูลสำเร็จ</h2>
                  <a-button type="dashed" @click="backHome">กลับหน้าหลัก</a-button>
                </div>
              </a-col>
            </a-row>
          </div>
        </a-card>
      </a-layout-content>
      <a-layout-footer style="text-align: center"></a-layout-footer>
    </a-layout>
  </div>
</template>
<script>
import Step1 from "./stepForm/Step1";
import Step2 from "./stepForm/Step2";
import Step3 from "./stepForm/Step3";
export default {
  name: "FormRegisterStep",
  components: {
    Step1,
    Step2,
    Step3
  },
  data() {
    return {
      currentTab: 0,
      ShowFinish: false,
      counterUp: 0,
      steps: [
        {
          title: "กรอกข้อมูลเบื่องต้น",
          content: "First-content"
        },
        {
          title: "รายละเอียดเครื่องต้นกำลัง",
          content: "Second-content"
        },
        {
          title: "เอกสารประกอบคำขอรับใบอนุญาต",
          content: "Last-content"
        }
      ]
    };
  },
  methods: {
    nextStep() {
      if (this.currentTab < 2) {
        this.currentTab += 1;
      }
    },
    prevStep() {
      if (this.currentTab > 0) {
        this.currentTab -= 1;
      }
    },
    finishStep() {
      // this.currentTab = 3;
      this.ShowFinish = true;
      let percent = 0;
      this.counterUp = 0;
      let that = this;
      var interval = setInterval(function() {
        let count_up = (percent += 15);
        that.counterUp = count_up;
        if (that.counterUp >= 100) {
          that.counterUp = 100;
          clearInterval(interval);
        }
      }, 500);
    },
    backHome() {
      this.ShowFinish = false;
      this.currentTab = 0;
    },
    resterState() {
      this.$store.commit("clearLocal");
      window.location.reload();
    }
  }
};
</script>
