<template>
  <a-input type="text" :value="number" @input="handleNumberChange" />
</template>
<script>
export default {
  data() {
    return {
      number: ""
    };
  },
  watch: {
    value(val) {
      if (val > -1) {
        this.number = val;
      }
    }
  },
  methods: {
    handleNumberChange(e) {
      const numberVal = e.target.value;
      if (isNaN(numberVal)) {
        // this.number = null;
        return;
      }
      if (numberVal > -1) {
        this.number = numberVal;
      }
    }
  }
};
</script>
