<template>
  <a-form :form="form" @submit="finishStep">
    <a-card title="8. เอกสารประกอบคำขอรับใบอนุญาตผลิตพลังงานควบคุม
" style="margin-top:5px;">
      <a-row v-for="(doc,key) in documentData" :key="key">
        <a-col span="18">
          <p class="set3_text">{{key+1}}.{{doc.name}}</p>
        </a-col>
        <a-col span="6">
          <!-- <input
            type="file"
            :id="'file-'+key"
            :ref="'file-'+key"
            accept="image/jpeg, image/png, application/pdf, image/x-eps, application/x-zip-compressed"
            @change="handleFileUpload(doc,key,$event)"
          />
          -->

          <a-upload
            :id="'file-'+key"
            :ref="'file-'+key"
            :name="'file-'+doc.id"
            accept="image/jpeg, image/png, application/pdf, image/x-eps, application/x-zip-compressed"
            :multiple="true"
            :fileList="checkFilelist(doc.id)"
            :remove="mutiRemove"
            :customRequest="mutiUpload"
          >
            <a-button>
              <a-icon type="upload" />Click to Upload
            </a-button>
          </a-upload>
          <!-- <a-upload
            :key="key"
            :id="'file-'+key"
            :ref="'file-'+key"
            :fileList="fileList"
            :remove="mutiRemove"
            :beforeUpload="mutiUpload"
          />-->
        </a-col>
      </a-row>
      <strong class="f_footh-9">
        หมายเหตุ
        <br />
      </strong>
      <p
        class="f_foot-9"
      >อนุญาตให้อัพโหลดไฟล์ขนาดไม่เกิน 32MB ต่อไฟล์ และอนุญาตเฉพาะไฟล์ PDF หรือ รูปภาพเท่านั้น ถ้าในกรณีที่ในบางข้อมีหลายไฟล์ อนุญาตให้ทำเป็น .ZIP แล้วอัพโหลดพร้อมกันได้</p>
    </a-card>
    <a-card title="9. ข้อมูลผู้ประสานงาน เพื่อใช้ในการติดต่อกลับ
" style="margin-top:5px;">
      <a-checkbox :checked="checkForm" @change="handleCheckForm">เป็นผู้เดียวกับผู้รับมอบอำนาจ</a-checkbox>

      <a-row :gutter="15">
        <a-col :xs="24" :sm="8" :md="8" :lg="4" :xl="4">
          <a-form-item label="คำนำหน้า">
            <a-select
              v-decorator="[
                          'prefix',
                          {rules: [{ required: true, message: 'กรุณาเลือกคำนำหน้า'}]}
                          ]"
              placeholder="เลือก..."
            >
              <a-select-option
                v-for="title in titleData"
                :key="title.id"
                :value="title.id"
              >{{title.name}}</a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :xs="24" :sm="8" :md="8" :lg="6" :xl="6">
          <a-form-item label="ชื่อ">
            <a-input
              v-decorator="['first_name', {rules: [{ required: true, message: 'กรุณากรอกข้อมูล ชื่อ'}]}    ]"
              placeholder="กรอกข้อมูล ชื่อ"
            />
          </a-form-item>
        </a-col>
        <a-col :xs="24" :sm="8" :md="8" :lg="6" :xl="6">
          <a-form-item label="สกุล">
            <a-input
              v-decorator="[ 'last_name', {rules: [{ required: true, message: 'กรุณากรอกข้อมูล สกุล'}]}    ]"
              placeholder="กรอกข้อมูล สกุล"
            />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="15">
        <!-- <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
          <a-form-item label="โทรศัพท์">
            <a-input
              v-decorator="['fax', {rules: [{ required: checkForm, message: 'กรุณากรอกข้อมูล โทรศัพท์'}]} ]"
              placeholder="โทรศัพท์"
              maxlength="10"
              :disabled="!checkForm"
            ></a-input>
          </a-form-item>
        </a-col>-->
        <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
          <a-form-item label="มือถือ">
            <a-input
              v-decorator="['mobile_phone',{rules: [{ required: true, message: 'กรุณากรอกข้อมูล มือถือ'}]}]"
              placeholder="มือถือ"
              maxlength="10"
            ></a-input>
          </a-form-item>
        </a-col>
        <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="12">
          <a-form-item label="อีเมล์">
            <a-input
              v-decorator="['email',{rules: [{ required: true, message: 'กรุณากรอกข้อมูล อีเมล์'}]}]"
              placeholder="อีเมล์"
            ></a-input>
          </a-form-item>
        </a-col>
      </a-row>
    </a-card>

    <a-card title="10. การตรวจสอบระบบความปลอดภัย

" style="margin-top:5px;">
      <a-form-item label="ระบบความปลอดภัย">
        <a-radio-group v-model="inspector" :defaultValue="inspectorDefault" :options="options"></a-radio-group>
      </a-form-item>
      <a-row>
        <a-col style="  text-align: center;">
          <strong
            class="footer"
          >ข้าพเจ้าได้อ่านข้อตกลงนี้และยอมรับข้อกำหนดทั้งหมด โดยการคลิกที่ปุ่ม "Finish" หรือการกระทำที่คล้ายคลึงกันใดๆ ด้านล่าง ข้าพเจ้าเข้าใจว่าข้าพเจ้า</strong>
          <strong
            class="footer"
          >ได้ทำการสร้างลายเซ็นดิจิตอลซึ่งข้าพเจ้ามีเจตนาให้มีผลและการบังคับใช้เช่นเดียวกับเมื่อข้าพเจ้าทำการลงชื่อของข้าพเจ้าด้วยลายมือ</strong>
        </a-col>
      </a-row>
    </a-card>

    <a-form-item :wrapperCol="{span: 19, offset: 10}">
      <a-button style="margin-right: 8px" @click="prevStep">Previous</a-button>
      <a-button type="primary" html-type="submit" :loading="loading">Finish</a-button>
    </a-form-item>
  </a-form>
</template>

<script>
import axios from "axios";
import { setTimeout } from "timers";
import * as moment from "moment";

export default {
  data() {
    return {
      ip_server: this.$store.getters.getIpServe,
      setFrom: this.$store.getters.getFrom,
      form: this.$form.createForm(this),
      fileList: [],
      checkForm: false,
      loading: false,
      visible: false,
      urlUploadsData: "",
      timer: 0,
      titleData: [],
      inspectorDefault: "โรงงานจัดหาผู้ตรวจเอง",
      documentData: [],
      fileListUpload: [],
      key_compony_or_personel: "",
      year: parseInt(moment().format("YYYY")) + 543,
      inspector: "พพ.ตรวจ",
      options: [
        { label: "พพ.ตรวจ", value: "พพ.ตรวจ" },
        { label: "โรงงานจัดหาผู้ตรวจเอง", value: "โรงงานจัดหาผู้ตรวจเอง" }
      ],
      attached: []
    };
  },
  mounted() {
    //fetch title
    this.$nextTick(() => {
      let that = this;

      let formStep1Send = JSON.parse(localStorage.getItem("formStep1Send"));

      if (formStep1Send) {
        if (formStep1Send.is_company == 1) {
          that.key_compony_or_personel = formStep1Send.owner[0].id_number;
        } else {
          that.key_compony_or_personel = formStep1Send.personel.idcard;
        }
        that.urlUploadsData = `${this.ip_server}/upload/${this.key_compony_or_personel}/${this.year}/pk_request/`;
      }
      //scrollTop
      window.scrollTo(0, 0);
      axios.get(`${this.ip_server}/uprefix`).then(response => {
        this.titleData = response.data.data;
      });

      //fetch document
      axios.get(`${this.ip_server}/document`).then(response => {
        let documentRaw = response.data.document;
        let documentFilter = [];
        if (formStep1Send) {
          if (
            formStep1Send.is_company == 1 &&
            formStep1Send.is_authorize == 1
          ) {
            documentFilter = documentRaw.filter(val => {
              if (val.KEY != "4") {
                return val;
              }
            });
          }
          if (
            formStep1Send.is_company == 1 &&
            formStep1Send.is_authorize == 0
          ) {
            documentFilter = documentRaw;
          }

          if (
            formStep1Send.is_company == 0 &&
            formStep1Send.is_authorize == 1
          ) {
            documentFilter = documentRaw.filter(val => {
              if (val.KEY != "4" && val.KEY != "2") {
                return val;
              }
            });
          }

          if (
            formStep1Send.is_company == 0 &&
            formStep1Send.is_authorize == 0
          ) {
            documentFilter = documentRaw.filter(val => {
              if (val.KEY != "2") {
                return val;
              }
            });
          }
        }
        this.documentData = documentFilter;
        // this.documentData = documentRaw;
      });
    });
  },
  methods: {
    handleCheckForm(e) {
      this.checkForm = e.target.checked;
      const that = this;
      // const {
      //   form: { validateFields }
      // } = this;
      let formStep1 = JSON.parse(localStorage.getItem("formStep1Send"));
      if (e.target.checked) {
        if (formStep1) {
          // is_authorize  ===0 ยืนยันด้วยตัวเอง
          if (
            formStep1.authorizes[0].is_authorize == 1 ||
            formStep1.authorizes[0].is_authorize == 0
          ) {
            let personel = formStep1.authorizes[0].personel;
            let communication = formStep1.authorizes[0].communication;
            that.form.setFieldsValue({
              prefix: personel.ref_prefix_id,
              first_name: personel.first_name,
              last_name: personel.last_name,
              mobile_phone: communication.mobile,
              email: communication.email
            });
          }
        }
      } else {
        that.form.setFieldsValue({
          prefix: null,
          first_name: null,
          last_name: null,
          mobile_phone: null,
          email: null
        });
      }
    },

    checkTypeFile(type) {
      let listType = [
        "image/png",
        "application/x-zip-compressed",
        "image/jpeg",
        "application/pdf"
      ];
      return listType.filter(val => val === type).length > 0 ? true : false;
    },
    finishStep(e) {
      e.preventDefault();
      const that = this;
      this.form.validateFields((err, values) => {
        if (!err) {
          let co_id = [
            {
              personel: {
                ref_prefix_id: values.prefix != null ? values.prefix : null,
                first_name:
                  values.first_name != null ? values.first_name : null,
                last_name: values.last_name != null ? values.last_name : null,
                idcard: null,
                is_proved: 0
              },
              communication: {
                mobile:
                  values.mobile_phone != null ? values.mobile_phone : null,
                tel: null,
                fax: null,
                email: values.email != null ? values.email : null
              }
            }
          ];

          let requestSend = {
            inspector: this.inspector,
            co_id: co_id,
            attached: this.attached.map(item => {
              let obj = {
                ref_document_id: item.ref_document_id,
                url: item.url,
                is_upload: 0,
                is_approved: 0
              };
              return obj;
            })
          };
          let formStep1 = JSON.parse(localStorage.getItem("formStep1Send"));
          let formStep2 = JSON.parse(localStorage.getItem("formStep2"));
          let requestJson = {
            request: {
              from: this.setFrom,
              is_company: formStep1.is_company,
              is_authorize: formStep1.is_authorize,
              is_samartgrid: formStep1.is_samartgrid,
              ref_purposes_id: formStep1.ref_purposes_id,
              ref_permittype_id: formStep1.ref_permittypes_id,
              powerplant: null,
              inspector: requestSend.inspector
            },
            authorizes: formStep1.authorizes,
            smartgrid: formStep1.smartgrid,
            owner: formStep1.owner,
            personel: formStep1.personel,
            sites: formStep1.sites,
            drivers: formStep2.drivers,
            gen: formStep2.gen,
            co_id: requestSend.co_id,
            attached: requestSend.attached
          };
          console.log("request", JSON.stringify(requestJson));
          this.handlePostData(JSON.stringify(requestJson));
          that.$store.commit("formStep3State", requestSend);
        }
      });
    },
    prevStep() {
      this.$emit("prevStep");
    },
    mutiUpload(e) {
      let file = e.file;
      let time_file = Date.now();
      let fileName = e.filename;
      file["doc_id"] = fileName;
      file["time_file"] = time_file;
      if (file) {
        let size = file.size / 1024 / 1024;
        let type = file.type;
        if (!this.checkTypeFile(type)) {
          this.$notification["error"]({
            message: "รูปแปบไฟล์ไม่ถูกต้อง!",
            description: "รูปแบบ Files ( .png .jpeg .pdf .zip )"
          });
        }
        if (size > 32) {
          this.$notification["error"]({
            message: "ขนาดไฟล์มากกว่ากำหนด !",
            description: "กรุณาเลือก Files ขนาดไม่เกิน 32 MB..."
          });
        }
        if (this.checkTypeFile(type) && size < 32) {
          let that = this;
          let model_id = fileName.substring(5, fileName.length);
          let url = `${this.ip_server}/upload/${this.key_compony_or_personel}/${this.year}/pk_request/${model_id}`;
          let formData = new FormData();
          formData.append("pkdocs", file);
          that.urlUploads(url, formData).then(res => {
            if (res.status == 200) {
              let filename = res.data.filename;
              let obj = {
                ref_document_id: model_id,
                time_file: time_file,
                url: filename,
                is_upload: 0,
                is_approved: 0
              };
              that.attached.push(obj);
              that.fileList = [...that.fileList, file];
              return false;
            } else {
              that.$notification["error"]({
                message: "เกิดข้อผิดพลาด !",
                description: "กรุณาอัพโหลดไฟล์ใหม่อีกครั้ง "
              });
            }
          });
        }
      }
    },
    checkFilelist(model_id) {
      if (model_id) {
        let dataName = "file-" + model_id;
        let newfilter = this.fileList.filter(val => val.doc_id == dataName);
        return newfilter;
      }
    },
    mutiRemove(file) {
      const index = this.fileList.indexOf(file);
      const newFileList = this.fileList.slice();
      newFileList.splice(index, 1);
      const newAttched = this.attached.filter(
        val => val.time_file != file.time_file
      );
      this.attached = newAttched;
      this.fileList = newFileList;
    },
    handleClear() {
      this.$store.commit("clearLocal");
    },
    handlePostData(data) {
      const that = this;
      that.loading = true;
      that.timer = setTimeout(function() {
        axios
          .post(`${that.ip_server}/pk`, data)
          .then(res => {
            if (res.status == 200) {
              that.loading = false;
              that.$notification["success"]({
                message: JSON.stringify(res.data.datas),
                description: " "
              });
              // that.handleClear(); // clear
              that.$emit("finishStep");
            } else {
              that.loading = false;
              that.$notification["error"]({
                message: "ไม่สามารถบันทึกได้",
                description: "กรุณาลองใหม่อีกครั้ง !"
              });
            }
          })
          .catch(function(error) {
            // handle error
            console.log(error);

            that.$notification["error"]({
              message: "Error!",
              description: error
            });
          });
        that.loading = false;
      }, 1500);
    },
    urlUploads(linkUrl, formData) {
      return axios({
        method: "post",
        url: linkUrl,
        data: formData,
        config: { headers: { "Content-Type": "multipart/form-data" } }
      });
    }
  }
};
</script>
<style>
.set3_text {
  font-size: 12px;
  color: #000;
  font-weight: 600;
}
.footer {
  font-size: 14px;
  color: #000;
  font-weight: 600;
}
.f_footh-9 {
  font-size: 13.2px;
  color: #000;
  font-weight: 600;
}
.f_foot-9 {
  font-size: 12.5px;
  color: rgba(216, 20, 20, 0.77);
}
</style>
