<template>
  <div class="app">
    <a-form :form="form" @submit="handleSubmit">
      <!--start-set-form 1 -->
      <a-card title="1. ข้อมูล นิติบุคคล/บุคคลธรรมดา" style="margin-top:5px;">
        <a-row>
          <a-col :xs="24" :sm="14" :md="14" :lg="14" :xl="14">
            <a-row>
              <a-form-item
                label="ประเภท"
                :label-col="{ lg: { span: 6 }, sm: { span: 6 } ,xl: { span: 6}}"
                :wrapper-col="{ lg: { span: 12 }, sm: { span: 12 } ,xl: { span: 12}}"
                :validate-status="is_company ===''? 'error' : ''"
                :help="is_company ===''?'กรุณาเลือกประเภท':''"
              >
                <a-radio-group v-model="is_company">
                  <a-radio-button value="1">นิติบุคคล</a-radio-button>
                  <a-radio-button value="0">บุคคลธรรมดา</a-radio-button>
                </a-radio-group>
              </a-form-item>
            </a-row>
          </a-col>
          <a-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
            <a-input-search v-decorator="['name']" placeholder="ค้นหา รายชื่อ ..." enterButton />
          </a-col>
        </a-row>
        <a-row v-if="is_company == '1'" :gutter="20">
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <a-form-item label="เป็นนิติบุคคลประเภท">
              <a-select
                v-decorator="[
                          'type_id',{rules: [{ required: true, message: 'กรุณาเลือกประเภท!' }]}
                          ]"
                placeholder="เลือกประเภท..."
              >
                <a-select-option v-for="com in company" :key="com.name" :value="com.id">{{com.name}}</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <a-form-item label="ชื่อบริษัท">
              <a-input
                v-decorator="[
                            'company_name'
                          ]"
                placeholder="กรอกข้อมูลชื่อบริษัท"
              ></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <a-form-item label="เลขทะเบียน">
              <a-input
                v-decorator="[
                            'id_number',
                            {rules: [{ required: true, message: 'กรุณากรอกข้อมูลเลขทะเบียน' }]}
                          ]"
                placeholder="กรอกข้อมูลเลขทะเบียน"
                maxlength="13"
              />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row v-if="is_company == '0'" :gutter="20">
          <a-col :xs="24" :sm="8" :md="8" :lg="4" :xl="4">
            <a-form-item label="คำนำหน้า">
              <a-select
                v-decorator="[
                          'prefix_1',
                          {rules: [{ required: true, message: 'กรุณาเลือกคำนำหน้า' }]}
                          ]"
                placeholder="เลือกคำนำหน้า"
              >
                <a-select-option
                  v-for="title in titleData"
                  :key="title.id"
                  :value="title.id"
                >{{title.name}}</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="7" :xl="7">
            <a-form-item label="ชื่อ">
              <a-input
                v-decorator="[
                            'first_name_1',
                            {rules: [{ required: true, message: 'กรุณากรอก ชื่อ' }]}
                          ]"
                placeholder="กรอกข้อมูล ชื่อ"
              ></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="7" :xl="7">
            <a-form-item label="นามสกุล">
              <a-input
                v-decorator="[
                            'last_name_1',
                            {rules: [{ required: true, message: 'กรุณากรอก นามสกุล' }]}
                          ]"
                placeholder="กรอกข้อมูล นามสกุล"
              ></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item
              label="เลขบัตรประจำตัวประชาชน"
              :validate-status="licenseIdCard.validateStatus"
              :help="licenseIdCard.errorMsg"
              :required="true"
            >
              <a-input
                v-decorator="[
                            'idcard',
                            {rules: [{ required: true, message: 'กรุณากรอกข้อมูลเลขบัตรประจำตัวประชาชน','max':13 ,'min': 13}]}
                          ]"
                @change="licenseError"
                placeholder="เลขบัตรประจำตัวประชาชน	"
                maxlength="13"
              />
            </a-form-item>
          </a-col>
        </a-row>

        <a-row v-if="is_company != ''">
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <a-form-item>
              <a-radio-group v-model="board_id">
                <a-radio v-for="model in boardList" :key="model.id" :value="model.id">{{model.name}}</a-radio>
              </a-radio-group>
            </a-form-item>
          </a-col>
        </a-row>

        <a-row v-if="is_company == '1' &&  board_id ==1" :gutter="20">
          <a-col :xs="24" :sm="8" :md="8" :lg="4" :xl="4">
            <a-form-item label="คำนำหน้า">
              <a-select
                v-decorator="[
                          'prefix_1_1',
                          {rules: [{ required: true, message: 'กรุณาเลือกคำนำหน้า' }]}
                          ]"
                placeholder="เลือกคำนำหน้า"
              >
                <a-select-option
                  v-for="title in titleData"
                  :key="title.id"
                  :value="title.id"
                >{{title.name}}</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="7" :xl="7">
            <a-form-item label="ชื่อ">
              <a-input
                v-decorator="[
                            'first_name_1_1',
                            {rules: [{ required: true, message: 'กรุณากรอก ชื่อ' }]}
                          ]"
                placeholder="กรอกข้อมูล ชื่อ"
              ></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="7" :xl="7">
            <a-form-item label="นามสกุล">
              <a-input
                v-decorator="[
                            'last_name_1_1',
                            {rules: [{ required: true, message: 'กรุณากรอก นามสกุล' }]}
                          ]"
                placeholder="กรอกข้อมูล นามสกุล"
              ></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item
              label="เลขบัตรประจำตัวประชาชน"
              :validate-status="licenseIdCard.validateStatus"
              :help="licenseIdCard.errorMsg"
              :required="true"
            >
              <a-input
                v-decorator="[
                            'idcard_1_1',
                            {rules: [{ required: true, message: 'กรุณากรอกข้อมูลเลขบัตรประจำตัวประชาชน','max':13 ,'min': 13}]}
                          ]"
                @change="licenseError"
                placeholder="เลขบัตรประจำตัวประชาชน	"
                maxlength="13"
              />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="10" v-if="is_company == '1' &&  board_id ==1">
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="มือถือ">
              <a-input
                v-decorator="['phone_1_1',
              {rules: [{ required: true, message: 'กรุณากรอกข้อมูลเลขมือถือ'}]}
              ]"
                placeholder="มือถือ"
                maxlength="10"
              ></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="โทรศัพท์">
              <a-input v-decorator="['telephone_1_1']" maxlength="10" placeholder="โทรศัพท์"></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="โทรสาร">
              <a-input v-decorator="['fax_1_1']" placeholder="โทรสาร" maxlength="10"></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="อีเมล์">
              <a-input
                type="email"
                v-decorator="['email_1_1']"
                placeholder="อีเมล์"
                maxlength="100"
              ></a-input>
            </a-form-item>
          </a-col>
        </a-row>

        <a-row :gutter="10" v-if="is_company == '0' &&  board_id ==2">
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="มือถือ">
              <a-input v-decorator="['phone_0_1']" placeholder="มือถือ" maxlength="10"></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="โทรศัพท์">
              <a-input v-decorator="['telephone_0_1']" maxlength="10" placeholder="โทรศัพท์"></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="โทรสาร">
              <a-input v-decorator="['fax_0_1']" placeholder="โทรสาร" maxlength="10"></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="อีเมล์">
              <a-input
                type="email"
                v-decorator="['email_0_1']"
                placeholder="อีเมล์"
                maxlength="100"
              ></a-input>
            </a-form-item>
          </a-col>
        </a-row>

        <a-row :gutter="10" v-if="is_company == '0'  && board_id ==1">
          <a-col :xs="24" :sm="8" :md="8" :lg="4" :xl="4">
            <a-form-item label="คำนำหน้า">
              <a-select
                v-decorator="[
                          'prefix_2_2'
                          ]"
                placeholder="เลือก..."
              >
                <a-select-option
                  v-for="title in titleData"
                  :key="title.id"
                  :value="title.id"
                >{{title.name}}</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="6" :xl="6">
            <a-form-item label="ชื่อ">
              <a-input v-decorator="[  'first_name_2_2']" placeholder="กรอกข้อมูล ชื่อ" />
            </a-form-item>
          </a-col>

          <a-col :xs="24" :sm="8" :md="8" :lg="6" :xl="6">
            <a-form-item label="นามสกุล">
              <a-input v-decorator="[ 'last_name_2_2']" placeholder="กรอกข้อมูล นามสกุล" />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <a-form-item
              label="เลขบัตรประจำตัวประชาชน"
              :validate-status="licenseIdCard_3.validateStatus"
              :help="licenseIdCard_3.errorMsg"
            >
              <a-input
                v-decorator="[
                            'card_id_2_2']"
                placeholder="เลขบัตรประจำตัวประชาชน"
                maxlength="13"
                @change="licenseCheck_3"
              ></a-input>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="10" v-if="is_company == '0'  && board_id ==1">
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="มือถือ">
              <a-input v-decorator="['phone_2_3']" placeholder="มือถือ" maxlength="10"></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="โทรศัพท์">
              <a-input v-decorator="['telephone_2_3']" maxlength="10" placeholder="โทรศัพท์"></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="โทรสาร">
              <a-input v-decorator="['fax_2_3']" placeholder="โทรสาร" maxlength="10"></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="อีเมล์">
              <a-input
                type="email"
                v-decorator="['email_2_3']"
                placeholder="อีเมล์"
                maxlength="100"
              ></a-input>
            </a-form-item>
          </a-col>
        </a-row>
        <strong v-if="is_company == '1'  && board_id ==2">รายชื่อผู้มีอำนาจลงลายมือแทนนิติบุคคล</strong>
        <div v-if="is_company == '1' && board_id ==2">
          <a-row v-for="(model,key) in board" :key="key" :gutter="10">
            <a-col :xs="24" :sm="2" :md="2" :lg="2" :xl="2">
              <a-form-item label="ผู้ขอรับ">
                <a-checkbox :checked="model.is_checked" @change="isChecked(key,$event)" />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :sm="8" :md="8" :lg="4" :xl="3">
              <a-form-item label="คำนำหน้า">
                <a-select v-model="model.ref_prefix_id" placeholder="เลือกคำนำหน้า">
                  <a-select-option
                    v-for="title in titleData"
                    :key="title.id"
                    :value="title.id"
                  >{{title.name}}</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :sm="8" :md="8" :lg="6" :xl="5">
              <a-form-item label="ชื่อ">
                <a-input v-model="model.first_name" placeholder="กรอกข้อมูล ชื่อ" />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :sm="8" :md="8" :lg="6" :xl="5">
              <a-form-item label="นามสกุล">
                <a-input v-model="model.last_name" placeholder="กรอกข้อมูล นามสกุล" />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
              <a-form-item
                label="เลขบัตรประจำตัวประชาชน"
                :validate-status="licenseBoardArray(key,model.idcard).validateStatus"
                :help="licenseBoardArray(key,model.idcard).errorMsg"
              >
                <a-input v-model="model.idcard" placeholder="เลขบัตรประจำตัวประชาชน" maxlength="13"></a-input>
              </a-form-item>
            </a-col>
            <a-col :xs="4" :sm="2" :md="2" :lg="2" :xl="2">
              <a-form-item>
                <a-button
                  v-if="board.length >1"
                  type="danger"
                  shape="circle"
                  icon="minus-circle-o"
                  size="small"
                  @click="removeBoard(key)"
                />
              </a-form-item>
            </a-col>
          </a-row>
        </div>
        <a-row v-if="is_company == '1'  && board_id ==2">
          <a-col span="23" offset="1">
            <a-button
              style="width: 100%; margin-top: 16px; margin-bottom: 8px"
              type="primary"
              ghost
              icon="plus"
              @click="addBoard"
            >เพิ่มรายชื่อ</a-button>
          </a-col>
        </a-row>
        <a-row :gutter="10" v-if="is_company == '1'  && board_id ==2">
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="มือถือ">
              <a-input v-decorator="['phone_0_2']" placeholder="มือถือ" maxlength="10"></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="โทรศัพท์">
              <a-input v-decorator="['telephone_0_2']" maxlength="10" placeholder="โทรศัพท์"></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="โทรสาร">
              <a-input v-decorator="['fax_0_2']" placeholder="โทรสาร" maxlength="10"></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="อีเมล์">
              <a-input
                type="email"
                v-decorator="['email_0_2']"
                placeholder="อีเมล์"
                maxlength="100"
              ></a-input>
            </a-form-item>
          </a-col>
        </a-row>
        <p class="tb_headSet1">
          <strong>หมายเหตุ</strong>
          ประเภทนิติบุคคลได้แก่ ห้างหุ้นส่วนสามัญ ห้างหุ้นส่วนจำกัด บริษัทจำกัด บริษัทมหาชนจำกัด สมาคม มูลนิธิ นิติบุคคลอาคารชุด กระทรวง ทบวง กรม จังหวัด องค์การบริหารส่วนจังหวัด เทศบาล องค์กร ท้องถิ่นรูปแบบพิเศษ รัฐวิสาหกิจ องค์กรอิสระ องค์การมหาชน สถาบันการศึกษา หน่วยงานในกำกับ สถาบันเครือข่าย เป็นต้น
        </p>
      </a-card>
      <!--end-set-form-1 -->

      <!-- start-set-form-2 -->
      <a-card title="2. ลักษณะการขอรับใบอนุญาต" style="margin-top:5px;" v-if="is_company!=''">
        <a-form-item label="การขอรับใบอนุญาต">
          <a-radio-group
            v-decorator="[
                            'permittype_id',
                            {rules: [{ required: true, message: 'กรุณาเลือกข้อมูล'}]}
                          ]"
            @change="onSelectSet2"
          >
            <a-radio v-for="model in permitData" :key="model.id" :value="model.id">{{model.name}}</a-radio>
          </a-radio-group>
        </a-form-item>
        <a-row v-if="permitInspct">
          <a-col :span="12">
            <a-form-item label="รูปภาพเอกสาร">
              <a-upload
                action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                listType="picture-card"
                :fileList="fileListSet2"
                @preview="handlePreviewSet2"
                @change="handleChangeSet2"
                :beforeUpload="beforeUpload"
              >
                <div v-if="fileListSet2.length < 5">
                  <a-icon type="plus" />
                  <div class="ant-upload-text">Upload</div>
                </div>
              </a-upload>
              <a-modal :visible="previewVisibleSet2" :footer="null" @cancel="handleCancelSet2">
                <img alt="example" style="width: 100%" :src="previewImageSet2" />
              </a-modal>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="รายละเอียดข้อมูล">
              <a-textarea
                v-decorator="[
                            'permit_details'
                          ]"
                placeholder="กรอกรายละเอียดข้อมูล"
              />
            </a-form-item>
          </a-col>
        </a-row>
      </a-card>
      <!-- end-set-form-2 -->

      <!-- start-set-form-4 -->
      <a-card
        title="3.มีความประสงค์ขอรับใบอนุญาตผลิตพลังงานควบคุมตามมาตรา ๒๕ แห่งพระราชบัญญัติการพัฒนาและส่งเสริมพลังงาน พ.ศ.๒๕๓๕"
        style="margin-top:5px;"
        v-if="is_company!=''"
      >
        <a-row :gutter="10">
          <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
            <a-form-item label="ณ สถานประกอบการชื่อ">
              <a-input
                v-decorator="['branch_name',
                         {rules: [{ required: true, message: 'กรุณากรอกสถานประกอบการชื่อ'}]}
                        ]"
                placeholder="สถานประกอบการชื่อ"
              ></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="4" :xl="4">
            <a-form-item label="TSIC-ID">
              <a-input
                v-decorator="['tsic'
                        
                        ]"
                placeholder="TSIC-ID"
              ></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="4" :xl="4">
            <a-form-item label="ตั้งอยู่เลขที่">
              <a-input
                v-decorator="['branch_address'
                        
                        ]"
                placeholder="ตั้งอยู่เลขที่"
              ></a-input>
            </a-form-item>
          </a-col>

          <a-col :xs="24" :sm="8" :md="8" :lg="3" :xl="3">
            <a-form-item label="ซอย">
              <a-input v-decorator="['branch_soi']" placeholder="ซอย"></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="3" :xl="3">
            <a-form-item label="ถนน">
              <a-input v-decorator="['branch_road']" placeholder="ถนน"></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="3" :xl="3">
            <a-form-item label="หมู่ที่">
              <a-input
                v-decorator="['branch_moo',
               {rules: [{ required: true, message: 'กรุณากรอกหมู่ที่'}]}
              ]"
                placeholder="หมู่ที่"
              ></a-input>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="10">
          <a-col :xs="24" :sm="8" :md="8" :lg="5" :xl="5">
            <a-form-item label="จังหวัด">
              <a-auto-complete
                v-decorator="['branch_province',
                         {rules: [{ required: true, message: 'กรุณาเลือกจังหวัด'}]}
                        ]"
                :dataSource="dataProvinceGroupName"
                placeholder="เลือกจังหวัด"
                :filterOption="filterProvince"
                @select="onSelectProvince"
              />
            </a-form-item>
          </a-col>

          <a-col :xs="24" :sm="8" :md="8" :lg="5" :xl="5">
            <a-form-item label="อำเภอ/เขต">
              <a-select
                v-decorator="['branch_amphur',
                         {rules: [{ required: true, message: 'กรุณาเลือกอำเภอ/เขต'}]}]"
                placeholder="เลือกอำเภอ/เขต"
                @select="onSelectAmphur"
              >
                <a-select-option
                  v-for="model in dataAmphur"
                  :key="model.id"
                  :value="model.id"
                >{{model.name}}</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>

          <a-col :xs="24" :sm="8" :md="8" :lg="5" :xl="5">
            <a-form-item label="ตำบล/แขวง">
              <a-select
                v-decorator="['branch_district',
                         {rules: [{ required: true, message: 'กรุณาเลือกตำบล/แขวง'}]}]"
                placeholder="เลือกตำบล/แขวง"
                @select="onSelectDistrict"
              >
                <a-select-option
                  v-for="model in dataDistrict"
                  :key="model.id"
                  :value="model.id"
                >{{model.name}}</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>

          <a-col :xs="24" :sm="8" :md="8" :lg="3" :xl="3">
            <a-form-item label="ไปรษณีย์">
              <a-input
                v-decorator="['branch_zipcode',
                        {rules: [{ required: true, message: 'กรุณากรอกไปรษณีย์'}]}]"
                placeholder="ไปรษณีย์"
                maxlength="5"
              ></a-input>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="10">
          <a-col :xs="24" :sm="8" :md="8" :lg="6" :xl="6">
            <a-form-item label="มือถือ">
              <a-input
                v-decorator="['branch_mobile',
                 {rules: [{ required: true, message: 'กรุณากรอกมือถือ'}]}
                        ]"
                placeholder="มือถือ"
                maxlength="10"
              ></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="6" :xl="6">
            <a-form-item label="โทรศัพท์">
              <a-input
                v-decorator="['branch_tel'
                         
                        ]"
                placeholder="โทรศัพท์"
                maxlength="10"
              ></a-input>
            </a-form-item>
          </a-col>

          <a-col :xs="24" :sm="8" :md="8" :lg="6" :xl="6">
            <a-form-item label="โทรสาร">
              <a-input v-decorator="['branch_fax']" maxlength="10" placeholder="โทรสาร"></a-input>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :sm="8" :md="8" :lg="12" :xl="18">
            <a-form-item label="เพื่อประกอบกิจการ">
              <a-textarea
                v-decorator="['branch_detail',
                          {rules: [{ required: true, message: 'กรุณากรอกเพื่อประกอบกิจการ'}]}
                          ]"
                placeholder="เพื่อประกอบกิจการ "
              ></a-textarea>
            </a-form-item>
          </a-col>
        </a-row>

        <a-modal
          title="คลิกที่แผนที่เพื่อเลือก ค่าพิกัดทางภูมิศาสตร์"
          :visible="visibleDistrict"
          :confirmLoading="confirmLoading"
          :width="750"
          @cancel="handleCancelStep1"
        >
          <gmap-map
            :center="center"
            :zoom="12"
            :mapTypeId=" 'satellite'"
            style="width:100%;  height: 300px;"
            @click="setClickMarker"
          >
            <gmap-marker
              :key="index"
              v-for="(m, index) in markers"
              :position="m.position"
              @click="center=m.position"
            ></gmap-marker>
          </gmap-map>
          <a-row>
            <a-col :span="10">
              <strong>ละติจูด</strong>
              <p>
                <b v-if="!showLat">{{lat}}</b>
                <a-col :span="18" v-if="showLat">
                  <a-input id="latInput" v-model="latState" placeholder="กรอก ละติจูด"></a-input>
                </a-col>
              </p>
            </a-col>
            <a-col :span="10">
              <strong>ลองจิจูด</strong>
              <p>
                <b v-if="!showLat">{{lon}}</b>
                <a-col :span="18" v-if="showLat">
                  <a-input id="longInput" v-model="longState" placeholder="กรอก ลองจิจูด"></a-input>
                </a-col>
              </p>
            </a-col>
            <a-col :span="4">
              <br />
              <a-button
                v-if="!showLat"
                @click="handleEditMap"
                type="dashed"
                icon="edit"
              >แก้ไขค่าพิกัด</a-button>
              <a-button
                v-if="showLat"
                type="primary"
                icon="save"
                @click="checkInputMap()"
              >บันทึกค่าพิกัด</a-button>
            </a-col>
          </a-row>
          <template slot="footer">
            <a-button
              @click="handleCancelStep1"
              :loading="confirmLoading"
              type="danger"
              icon="close"
              :disabled="!lat"
            >ปิดหน้าต่าง</a-button>
          </template>
        </a-modal>
        <a-row>
          <a-col :span="18">
            <a-row>
              <a-col :span="6">
                <b>ค่าพิกัดทางภูมิศาสตร์</b>
              </a-col>
              <a-col :span="9">
                <strong>ละติจูด</strong>
                <p>
                  <b>{{lat}}</b>
                </p>
              </a-col>
              <a-col :span="9">
                <strong>ลองจิจูด</strong>
                <p>
                  <b>{{lon}}</b>
                </p>
              </a-col>
            </a-row>
          </a-col>
          <a-col :span="4">
            <a-button
              v-if="lat"
              @click="handleShowModal"
              type="dashed"
              icon="form"
              :disabled="!lat"
            >แก้ไขค่าพิกัดทางภูมิศาสตร์</a-button>
          </a-col>
        </a-row>
      </a-card>

      <!-- end-set-form 4 -->

      <!-- start-set-form 5 -->
      <a-card
        title="4. ลักษณะการใช้งานและการเชื่อมต่อกับโครงข่ายไฟฟ้า"
        style="margin-top:5px;"
        v-if="is_company!=''"
      >
        <a-row>
          <a-form-item label="การเชื่อมต่อกับโครงข่ายไฟฟ้า">
            <a-radio-group
              @change="onSelectSet5"
              v-decorator="['purpose_id',
                            {rules: [{ required: true, message: 'กรุณาเลือกข้อมูล'}]}
                          ]"
            >
              <a-radio v-for="model in purposeData" :key="model.id" :value="model.id">{{model.name}}</a-radio>
            </a-radio-group>
          </a-form-item>
        </a-row>
      </a-card>
      <!-- end-set-form-5 -->
      <!-- start-set-form-6 -->
      <a-card
        title="5. กรณีเชื่อมต่อกับโครงข่ายไฟฟ้า"
        style="margin-top:5px;"
        v-if="is_company!='' && is_smartgrid"
      >
        <a-row>
          <a-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
            <a-row :gutter="8">
              <a-col :xs="24" :sm="2" :md="2" :lg="5" :xl="10">
                <a-checkbox
                  @change="onInstallationSet6"
                  :checked="Objectset6.installation"
                  class="set1_text"
                >กำลังผลิตติดตั้ง</a-checkbox>
              </a-col>
              <a-col :xs="13" :sm="8" :md="8" :lg="4" :xl="8" v-if="Objectset6.installation">
                <a-input
                  v-model="dataInputSet6.installation"
                  placeholder="กำลังผลิตติดตั้ง"
                  size="small"
                  class="set1_text"
                ></a-input>
              </a-col>
              <a-col
                :xs="11"
                :sm="8"
                :md="8"
                :lg="7"
                :xl="6"
                v-if="Objectset6.installation"
                class="set1_text"
              >กิโลโวลต์แอมแปร์</a-col>
            </a-row>
            <a-row :gutter="8" style="margin-top: 5px;">
              <a-col :xs="24" :sm="2" :md="2" :lg="10" :xl="10">
                <a-checkbox
                  @change="onInternalUsedSet6"
                  :checked="Objectset6.internal_used"
                  class="set1_text"
                >ใช้กิจการของตนเอง</a-checkbox>
              </a-col>
              <a-col :xs="13" :sm="8" :md="8" :lg="8" :xl="8" v-if="Objectset6.internal_used">
                <a-input
                  v-model="dataInputSet6.internal_used"
                  placeholder="ใช้กิจการของตนเอง"
                  size="small"
                  class="set1_text"
                ></a-input>
              </a-col>
              <a-col
                :xs="11"
                :sm="8"
                :md="8"
                :lg="7"
                :xl="6"
                v-if="Objectset6.internal_used"
                class="set1_text"
              >กิโลโวลต์แอมแปร์</a-col>
            </a-row>
            <a-row :gutter="8" style="margin-top: 5px;">
              <a-col :xs="24" :sm="2" :md="2" :lg="8" :xl="10">
                <a-checkbox
                  @change="onSmartgridSet6"
                  :checked="Objectset6.smartgrid"
                  class="set1_text"
                >จำหนายเข้าระบบโครงข่าย</a-checkbox>
              </a-col>
              <a-col :xs="13" :sm="8" :md="8" :lg="8" :xl="8" v-if="Objectset6.smartgrid">
                <a-input
                  v-model="dataInputSet6.smartgrid"
                  placeholder="จำหนายเข้าระบบโครงข่าย"
                  size="small"
                  class="set1_text"
                ></a-input>
              </a-col>
              <a-col
                :xs="11"
                :sm="8"
                :md="8"
                :lg="8"
                :xl="6"
                v-if="Objectset6.smartgrid"
                class="set1_text"
              >กิโลโวลต์แอมแปร์</a-col>
            </a-row>
            <a-row :gutter="8" style="margin-top: 5px;">
              <a-col :xs="24" :sm="2" :md="2" :lg="5" :xl="10">
                <a-checkbox
                  @change="onDirectcustomerSet6"
                  :checked="Objectset6.directcustomer"
                  class="set1_text"
                >จำหน่ายลูกค้าโดยตรง</a-checkbox>
              </a-col>
              <a-col :xs="13" :sm="8" :md="8" :lg="8" :xl="8" v-if="Objectset6.directcustomer">
                <a-input
                  v-model="dataInputSet6.directcustomer"
                  class="set1_text"
                  placeholder="จำหน่ายลูกค้าโดยตรง"
                  size="small"
                ></a-input>
              </a-col>
              <a-col
                :xs="11"
                :sm="8"
                :md="8"
                :lg="8"
                :xl="6"
                v-if="Objectset6.directcustomer"
                class="set1_text"
              >กิโลโวลต์แอมแปร์</a-col>
            </a-row>
          </a-col>
          <a-col :xs="24" :sm="12" :md="12" :lg="10" :xl="10">
            <a-row :gutter="8" style="margin-top: 5px;">
              <a-col :xs="24" :sm="2" :md="2" :lg="12" :xl="12">
                <p
                  style=" margin-top: 8px; text-align:right;"
                  class="set1_text"
                >กำหนดวันจ่ายไฟฟ้า(SCOD)</p>
              </a-col>
              <a-col :xs="13" :sm="8" :md="8" :lg="12" :xl="12">
                <a-form-item>
                  <a-date-picker
                    style="width: 100%"
                    @change="onChangeScod"
                    placeholder="กำหนดวันจ่ายไฟฟ้า"
                    size="small"
                    class="set1_text"
                    :defaultValue="setDate"
                  />
                </a-form-item>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
      </a-card>
      <!-- start-set-form 6 -->
    </a-form>
    <a-form-item :wrapperCol="{span: 19, offset: 10}" style="margin-top: 10px;">
      <a-button type="primary" :loading="loading" @click="nextStep">Next</a-button>
    </a-form-item>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import thTH from "ant-design-vue/lib/locale-provider/th_TH";
function hasErrors(fieldsError) {
  return Object.keys(fieldsError).some(field => fieldsError[field]);
}

export default {
  name: "Step1",
  props: {
    msg: String
  },
  data() {
    this.dateFormat = "YYYY-MM-DD";
    return {
      visibleDistrict: false,
      confirmLoading: false,
      locale: thTH,
      board_id: 2,
      center: { lat: 15.557910574759607, lng: 101.34852869856888 },
      form: this.$form.createForm(this),
      markers: [],
      places: [],
      fileSet2: [],
      loading: false,
      province_id: null,
      ip_server: this.$store.getters.getIpServe,
      hasErrors,
      is_company: "",
      lat: "",
      lon: "",
      showLat: false,
      latState: null,
      longState: null,
      permitInspct: false,
      is_smartgrid: false,
      previewVisibleSet2: false,
      previewImageSet2: "",
      fileListSet2: [],
      company: [],
      permitData: [],
      purposeData: [],
      titleData: [],
      licenseIdCard: {},
      licenseIdCard_1: {},
      licenseIdCard_2: {},
      licenseIdCard_3: {},
      dataProvince: [],
      dataAmphur: [],
      dataDistrict: [],
      formDataInput: [],
      dataProvinceGroupName: [],
      dataInputSet6: {
        installation: "",
        internal_used: "",
        smartgrid: "",
        directcustomer: "",
        scod: ""
      },
      Objectset6: {
        installation: false,
        internal_used: false,
        smartgrid: false,
        directcustomer: false,
        scod: false
      },
      boardList: [
        { id: 1, name: "มอบอำนาจให้ผู้อื่น ยื่นรับใบอนุญาตผลิตพลังงานควบคุม" },
        { id: 2, name: "ยื่นขอรับใบอนุญาตผลิตพลังงานควบคุม ด้วยตนเอง" }
      ],
      board: [
        {
          ref_prefix_id: "",
          first_name: null,
          last_name: null,
          idcard: "",
          is_proved: 1,
          is_checked: true
        }
      ]
    };
  },

  mounted() {
    this.geolocate();

    this.$nextTick(() => {
      // To disabled submit button at the beginning.
      this.form.validateFields();

      //fetch company_prefix
      axios.get(`${this.ip_server}/company_prefix`).then(response => {
        this.company = response.data.data;
      });

      //fetch title
      axios.get(`${this.ip_server}/uprefix`).then(response => {
        this.titleData = response.data.data;
      });

      //fetch permit
      axios.get(`${this.ip_server}/permit`).then(response => {
        this.permitData = response.data.data;
      });

      //fetch purpose
      axios.get(`${this.ip_server}/purpose`).then(response => {
        this.purposeData = response.data.data;
      });

      //fetch province
      axios.get(`${this.ip_server}/province`).then(response => {
        this.dataProvince = response.data.province;
        this.dataProvinceGroupName = response.data.province
          .map(val => val.name)
          .sort();
      });
      this.restoreData();
    });
  },
  created() {},
  computed: {
    // eslint-disable-next-line vue/return-in-computed-property
    setDate() {
      if (this.dataInputSet6.scod) {
        return this.moment(this.dataInputSet6.scod, this.dateFormat);
      }
    }
  },
  methods: {
    handleEditMap() {
      this.latState = this.lat != null ? this.lat : null;
      this.longState = this.lon != null ? this.lon : null;
      this.showLat = true;
    },
    checkInputMap() {
      let latInput = document.getElementById("latInput");
      let longInput = document.getElementById("longInput");
      if (isNaN(latInput.value) && isNaN(longInput.value)) {
        this.$message.error("ใส่ข้อมูล ไม่ถูกต้อง !");
      } else {
        if (
          latInput.value &&
          !isNaN(latInput.value) &&
          (longInput.value && !isNaN(longInput.value))
        ) {
          this.lat =
            Number(latInput.value) > 0 ? Number(latInput.value) : this.lat;
          this.lon =
            Number(longInput.value) > 0 ? Number(longInput.value) : this.lon;
          this.showLat = false;
          this.resetInputMap();
        } else {
          this.$message.error("ใส่ข้อมูล ไม่ถูกต้อง !");
        }
      }
    },
    resetInputMap: function() {
      this.center = {
        lat: Number(this.lat),
        lng: Number(this.lon)
      };
      this.markers = []; //reset
      this.markers.push({ position: this.center });
    },
    moment,
    handleCancelStep1() {
      let that = this;
      this.confirmLoading = true;
      if (this.lat && this.lon) {
        setTimeout(() => {
          that.visibleDistrict = false;
          that.confirmLoading = false;
          that.showLat = false;
        }, 1000);
      }
    },
    handleShowModal() {
      this.visibleDistrict = true;
    },
    isChecked(key, e) {
      let is_checked = e.target.checked;
      this.board.map((val, index) => {
        if (index == key) {
          val.is_checked = is_checked;
          val.is_proved = 1;
        } else {
          val.is_proved = 0;
          val.is_checked = !is_checked;
        }
      });
    },
    addBoard() {
      this.board.push({
        ref_prefix_id: "",
        first_name: null,
        last_name: null,
        idcard: "",
        is_proved: 0,
        is_checked: null
      });
    },
    removeBoard(key) {
      this.board.splice(key, 1);
    },
    onChangeScod(date, dateString) {
      if (dateString) this.dataInputSet6.scod = dateString;
    },
    onInstallationSet6(e) {
      this.Objectset6.installation = e.target.checked;
    },
    onInternalUsedSet6(e) {
      this.Objectset6.internal_used = e.target.checked;
    },
    onSmartgridSet6(e) {
      this.Objectset6.smartgrid = e.target.checked;
    },
    onDirectcustomerSet6(e) {
      this.Objectset6.directcustomer = e.target.checked;
    },
    beforeUpload(file) {
      const isJPG = file.type === "image/jpeg" || file.type === "image/png";
      if (!isJPG) {
        this.$message.error("You can only upload JPG and PNG file!");
      }
      const isLt2M = file.size / 1024 / 1024 < 10;
      if (!isLt2M) {
        this.$message.error("Image must smaller than 2MB!");
      }
      return isJPG && isLt2M;
    },
    handleCancelSet2() {
      this.previewVisibleSet2 = false;
    },
    handlePreviewSet2(file) {
      this.previewImageSet2 = file.url || file.thumbUrl;
      this.previewVisibleSet2 = true;
    },
    handleChangeSet2({ file, fileList }) {
      if (file.type === "image/jpeg" || file.type === "image/png") {
        this.fileListSet2 = fileList;
      }
      // if (fileList[0].file.status === "done") {
      //   // Get this url from response in real world.
      //
      // }
    },
    onSelectSet2(e) {
      this.permitData.filter(item => {
        if (item.id === e.target.value) {
          if (item.NOT_INSPECT === 1) {
            this.permitInspct = true;
          } else {
            this.permitInspct = false;
          }
        }
      });
    },

    onSelectSet5(e) {
      this.purposeData.filter(item => {
        if (item.id === e.target.value) {
          if (item.is_smartgrid === 1) {
            this.is_smartgrid = true;
          } else {
            this.is_smartgrid = false;
          }
        }
      });
    },
    setClickMarker(map) {
      const marker = {
        lat: map.latLng.lat(),
        lng: map.latLng.lng()
      };
      this.lon = map.latLng.lat(); //set lon
      this.lat = map.latLng.lng(); //set lng
      this.markers = []; //reset markers
      this.markers.push({ position: marker });
      this.center = marker;
    },

    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        this.lon = position.coords.latitude; //set lon
        this.lat = position.coords.longitude;
        this.markers = [];
        this.markers.push({ position: this.center });
      });
    },

    onSelectProvince(val) {
      const that = this;

      if (val) {
        //get id
        this.province_id = this.dataProvince.find(
          iteme => iteme.name === val
        ).id;
        if (this.province_id) this.getAmphur(this.province_id);
        that.form.setFieldsValue({
          branch_amphur: null,
          branch_district: null
        });
      }
    },
    onSelectAmphur(val) {
      if (val) {
        let that = this;
        axios.get(`${this.ip_server}/district/city/${val}`).then(response => {
          that.dataDistrict = response.data.district;
        });
        this.form.setFieldsValue({
          branch_district: null
        });
      } else {
        this.dataDistrict = [];
      }
    },
    onSelectDistrict(data) {
      if (data) {
        this.visibleDistrict = true;
        let district_gis = this.dataDistrict.find(item => item.id == data)
          .gis_basis_id;
        let that = this;
        if (district_gis) {
          axios.get(`${this.ip_server}/gis/${district_gis}`).then(response => {
            let data = response.data.gis;
            that.center = { lat: data.latitude, lng: data.longitude };
            that.lat = data.latitude;
            that.lon = data.longitude;
            that.resetInputMap();
          });
        }
      }
    },
    getDistrict(id) {
      axios.get(`${this.ip_server}/district/city/${id}`).then(response => {
        this.dataDistrict = response.data.district;
      });
    },
    filterProvince(input, option) {
      return (
        option.componentOptions.children[0].text
          .toUpperCase()
          .indexOf(input.toUpperCase()) >= 0
      );
    },
    getAmphur(id) {
      axios.get(`${this.ip_server}/city/province/${id}`).then(response => {
        this.dataAmphur = response.data.city;
      });
    },

    licenseError(e) {
      const number = e.target.value;
      if (this.checkID(number)) {
        this.licenseIdCard = {
          validateStatus: "success",
          errorMsg: null
        };
      } else {
        this.licenseIdCard = {
          validateStatus: "error",
          errorMsg: "เลขบัตรประจำตัวประชาชน ไม่ถูกต้อง !"
        };
      }
    },
    licenseCheck_1(e) {
      const number = e.target.value;
      if (number) {
        if (this.checkID(number)) {
          this.licenseIdCard_1 = {
            validateStatus: "success",
            errorMsg: null
          };
        } else {
          this.licenseIdCard_1 = {
            validateStatus: "error",
            errorMsg: "เลขบัตรประจำตัวประชาชน ไม่ถูกต้อง !"
          };
        }
      } else {
        this.licenseIdCard_1 = {
          validateStatus: "success",
          errorMsg: null
        };
      }
    },
    licenseCheck_2(e) {
      const number = e.target.value;
      if (number) {
        if (this.checkID(number)) {
          this.licenseIdCard_2 = {
            validateStatus: "success",
            errorMsg: null
          };
        } else {
          this.licenseIdCard_2 = {
            validateStatus: "error",
            errorMsg: "เลขบัตรประจำตัวประชาชน ไม่ถูกต้อง !"
          };
        }
      } else {
        this.licenseIdCard_2 = {
          validateStatus: "success",
          errorMsg: null
        };
      }
    },
    licenseBoardArray(key, val) {
      if (val) {
        if (this.checkID(val)) {
          return {
            validateStatus: "success",
            errorMsg: null
          };
        } else {
          return {
            validateStatus: "error",
            errorMsg: "เลขบัตรประจำตัวประชาชน ไม่ถูกต้อง !"
          };
        }
      } else {
        return {
          validateStatus: "success",
          errorMsg: null
        };
      }
    },

    licenseCheck_3(e) {
      const number = e.target.value;
      if (number) {
        if (this.checkID(number)) {
          this.licenseIdCard_3 = {
            validateStatus: "success",
            errorMsg: null
          };
        } else {
          this.licenseIdCard_3 = {
            validateStatus: "error",
            errorMsg: "เลขบัตรประจำตัวประชาชน ไม่ถูกต้อง !"
          };
        }
      } else {
        this.licenseIdCard_3 = {
          validateStatus: "success",
          errorMsg: null
        };
      }
    },
    checkID(id) {
      if (id.length != 13) return false;
      for (var i = 0, sum = 0; i < 12; i++)
        sum += parseFloat(id.charAt(i)) * (13 - i);
      if ((11 - (sum % 11)) % 10 != parseFloat(id.charAt(12))) return false;
      return true;
    },
    nextStep() {
      const that = this;
      const {
        form: { validateFields }
      } = this;
      validateFields((err, fields) => {
        if (!err && this.is_company != "") {
          let communication_1 = null;
          let authorize_law = null; //นิติ
          let authorize_plain = null; //คนธรรมดา
          let fields_tsic = null;
          // check board_id communication นิติ
          if (this.is_company == 1 && this.board_id == 1) {
            communication_1 = {
              mobile: fields.phone_1_1 ? fields.phone_1_1 : null,
              tel: fields.telephone_1_1 ? fields.telephone_1_1 : null,
              fax: fields.fax_1_1 ? fields.fax_1_1 : null,
              email: fields.email_1_1 ? fields.email_1_1 : null
            };
            authorize_law = [
              {
                position: null,
                is_authorize: that.board_id == 2 ? 0 : 1,
                personel: {
                  ref_prefix_id: fields.prefix_1_1 ? fields.prefix_1_1 : null,
                  first_name: fields.first_name_1_1
                    ? fields.first_name_1_1
                    : null,
                  last_name: fields.last_name_1_1 ? fields.last_name_1_1 : null,
                  idcard: fields.idcard_1_1 ? fields.idcard_1_1 : null,
                  is_proved: 0
                },
                communication: communication_1
              }
            ];
          } else {
            let isCheckedfind = this.board.find(item => {
              if (item.is_checked && item.first_name) {
                return item;
              }
            });
            if (isCheckedfind) {
              authorize_law = [
                {
                  position: null,
                  is_authorize: that.board_id == 1 ? 0 : 1,
                  personel: {
                    ref_prefix_id: isCheckedfind.ref_prefix_id
                      ? isCheckedfind.ref_prefix_id
                      : null,
                    first_name: isCheckedfind.first_name
                      ? isCheckedfind.first_name
                      : null,
                    last_name: isCheckedfind.last_name
                      ? isCheckedfind.last_name
                      : null,
                    idcard: isCheckedfind.idcard ? isCheckedfind.idcard : null,
                    is_proved: 0
                  },
                  communication: {
                    mobile: fields.phone_0_2 ? fields.phone_0_2 : null,
                    tel: fields.telephone_0_2 ? fields.telephone_0_2 : null,
                    fax: fields.fax_0_2 ? fields.fax_0_2 : null,
                    email: fields.email_0_2 ? fields.email_0_2 : null
                  }
                }
              ];
            }

            communication_1 = {
              mobile: fields.phone_0_2 ? fields.phone_0_2 : null,
              tel: fields.telephone_0_2 ? fields.telephone_0_2 : null,
              fax: fields.fax_0_2 ? fields.fax_0_2 : null,
              email: fields.email_0_2 ? fields.email_0_2 : null
            };
          }

          // แบบคนธรรมดา มอบ = 1 ยืนยัน=  2
          if (this.is_company == 0 && this.board_id == 1) {
            authorize_plain = [
              {
                position: null,
                is_authorize: that.board_id == 1 ? 0 : 1,
                personel: {
                  ref_prefix_id: fields.prefix_2_2 ? fields.prefix_2_2 : null,
                  first_name: fields.first_name_2_2
                    ? fields.first_name_2_2
                    : null,
                  last_name: fields.last_name_2_2 ? fields.last_name_2_2 : null,
                  idcard: fields.card_id_2_2 ? fields.card_id_2_2 : null,
                  is_proved: 0
                },
                communication: {
                  mobile: fields.phone_2_3 ? fields.phone_2_3 : null,
                  tel: fields.telephone_2_3 ? fields.telephone_2_3 : null,
                  fax: fields.fax_2_3 ? fields.fax_2_3 : null,
                  email: fields.email_2_3 ? fields.email_2_3 : null
                }
              }
            ];
          } else {
            authorize_plain = [
              {
                position: null,
                is_authorize: that.board_id == 1 ? 0 : 1,
                personel: {
                  ref_prefix_id: fields.prefix_1 ? fields.prefix_1 : null,
                  first_name: fields.first_name_1 ? fields.first_name_1 : null,
                  last_name: fields.last_name_1 ? fields.last_name_1 : null,
                  idcard: fields.idcard ? fields.idcard : null,
                  is_proved: 0
                },
                communication: {
                  mobile: fields.phone_0_1 ? fields.phone_0_1 : null,
                  tel: fields.telephone_0_1 ? fields.telephone_0_1 : null,
                  fax: fields.fax_0_1 ? fields.fax_0_1 : null,
                  email: fields.email_0_1 ? fields.email_0_1 : null
                }
              }
            ];
          }
          // นิติบุคคล = 1
          let newBoard = [];
          if (that.board_id == 2 && that.is_company == 1) {
            newBoard = that.board.map(item => {
              let newObj = {
                ref_prefix_id: item.ref_prefix_id,
                first_name: item.first_name,
                last_name: item.last_name,
                idcard: item.idcard,
                is_proved: item.is_proved
              };
              return newObj;
            });
          }
          let owner_obj = [
            {
              name: fields.company_name ? fields.company_name : null,
              ref_company_id: fields.type_id ? fields.type_id : null,
              id_number: fields.id_number ? fields.id_number : null,
              board: newBoard // ยื่นยันด้วยตนเอง => 2
            }
          ];

          //บุคคลธรรมดา set1
          let personel_obj = {
            ref_prefix_id: fields.prefix_1,
            first_name: fields.first_name_1,
            last_name: fields.last_name_1,
            idcard: fields.idcard,
            is_proved: 0 // defafult เป็น 0 ไว้ก่อน
          };

          if (fields.tsic) {
            fields_tsic = fields.tsic;
          }

          //set 4
          let sites_send = {
            name: fields.branch_name,
            about: fields.branch_detail,
            tsic: fields_tsic,
            communication: {
              mobile: fields.branch_mobile ? fields.branch_mobile : null,
              tel: fields.branch_tel ? fields.branch_tel : null,
              fax: fields.branch_fax ? fields.branch_fax : null,
              email: null
            },
            gis: {
              name: fields.branch_name,
              latitude: this.lat,
              longitude: this.lon
            },
            address: {
              name: fields.branch_name,
              code: fields.branch_zipcode,
              addr1: fields.branch_address,
              addr2: fields.branch_soi,
              addr3: fields.branch_road,
              addr4: fields.branch_moo,
              district_id: fields.branch_district
            }
          };

          let sites_send_state = {
            address: {
              name: fields.branch_name,
              code: fields.branch_zipcode,
              addr1: fields.branch_address,
              addr2: fields.branch_soi,
              addr3: fields.branch_road,
              addr4: fields.branch_moo,
              district_id: fields.branch_district,
              branch_amphur: fields.branch_amphur,
              branch_province: fields.branch_province
            }
          };

          //set5
          let smartgridObj = this.dataInputSet6;

          //All Oject
          if (that.is_company == 1 && fields.type_id) {
            that.loading = true;
            let step1Send = {
              is_company: parseInt(this.is_company),
              //ถ้า=0 ก็คือมอบอำนาจ ถ้า = 1 ก็ดำเนินการ ด้วยตัวเอง
              is_authorize: that.board_id === 1 ? 0 : 1,
              is_samartgrid: that.is_smartgrid ? 1 : 0,
              inspector: null,
              personel: null,
              ref_purposes_id: fields.purpose_id,
              ref_permittypes_id: fields.permittype_id,
              owner: owner_obj,
              sites: sites_send,
              authorizes: authorize_law,
              smartgrid: smartgridObj
            };
            let step1State = {
              sites: sites_send_state
            };

            that.timer = setTimeout(function() {
              that.loading = false;
              that.$store.commit("formStep1SendState", step1Send);
              that.$store.commit("formStep1State", step1State);
              that.$emit("nextStep");
            }, 1500);
            // push to store
          } else if (
            that.is_company == 0 &&
            this.licenseIdCard.validateStatus != "error" &&
            this.licenseIdCard_1.validateStatus != "error"
          ) {
            that.loading = true;
            let step1Send_2 = null;
            let step1State_2 = null;
            step1Send_2 = {
              is_company: parseInt(this.is_company),
              //ถ้า=0 ก็คือมอบอำนาจ ถ้า = 1 ก็ดำเนินการ ด้วยตัวเอง
              is_authorize: that.board_id === 1 ? 0 : 1,
              is_samartgrid: that.is_smartgrid ? 1 : 0,
              inspector: null,
              personel: personel_obj,
              ref_purposes_id: fields.purpose_id,
              ref_permittypes_id: fields.permittype_id,
              owner: null,
              sites: sites_send,
              authorizes: authorize_plain,
              smartgrid: smartgridObj
            };

            step1State_2 = {
              sites: sites_send_state
            };

            that.timer = setTimeout(function() {
              that.loading = false;
              that.$store.commit("formStep1SendState", step1Send_2);
              that.$store.commit("formStep1State", step1State_2);
              that.$emit("nextStep");
            }, 1500);
          }
        }
      });
    },

    handleSubmit(e) {
      e.preventDefault();
    },
    restoreData() {
      const that = this;
      // const {
      //   form: { validateFields }
      // } = this;
      let formStep1 = JSON.parse(localStorage.getItem("formStep1"));
      let formStep1Send = JSON.parse(localStorage.getItem("formStep1Send"));

      if (formStep1) {
        that.is_company = formStep1Send.is_company.toString(2);
        that.getDistrict(formStep1.sites.address.branch_amphur);
        that.is_smartgrid = formStep1Send.is_samartgrid == 1 ? true : false;

        this.Objectset6.installation = formStep1Send.smartgrid.installation
          ? true
          : false;
        this.Objectset6.internal_used = formStep1Send.smartgrid.internal_used
          ? true
          : false;
        this.Objectset6.smartgrid = formStep1Send.smartgrid.smartgrid
          ? true
          : false;
        this.Objectset6.directcustomer = formStep1Send.smartgrid.directcustomer
          ? true
          : false;

        that.dataInputSet6 = formStep1Send.smartgrid;
        /// เช็คมอบอำนาจ
        // ถ้า is_authorize = 1  =>ยื่นยันตนเอง
        // ถ้า ไม่ใช่ มอบอำนวจ =>2
        that.board_id = formStep1Send.is_authorize === 0 ? 1 : 2;
        setTimeout(function() {
          ///google map
          let provide_id = that.dataProvince.find(
            item => item.name === formStep1.sites.address.branch_province
          ).id;
          that.getAmphur(provide_id);
          let gis = formStep1Send.sites.gis;
          if (gis.latitude && gis.longitude) {
            // let markerSet = {
            //   lat: gis.latitude,
            //   lng: gis.longitude
            // };
            that.lon = gis.latitude; //set lon
            that.lat = gis.longitude; //set lng
            // // that.markers = []; //reset markers
            // that.markers.push({ position: marker });
            // that.center = marker;
          }
          // นิติ
          if (formStep1Send.is_company === 1) {
            that.form.setFieldsValue({
              id_number: formStep1Send.owner[0].id_number,
              company_name: formStep1Send.owner[0].name,
              type_id: formStep1Send.owner[0].ref_company_id
            });

            if (formStep1Send.is_authorize == 0) {
              if (formStep1Send.authorizes) {
                that.form.setFieldsValue({
                  prefix_1_1:
                    formStep1Send.authorizes[0].personel.ref_prefix_id,
                  first_name_1_1:
                    formStep1Send.authorizes[0].personel.first_name,
                  last_name_1_1: formStep1Send.authorizes[0].personel.last_name,
                  idcard_1_1: formStep1Send.authorizes[0].personel.idcard
                });

                that.form.setFieldsValue({
                  phone_1_1: formStep1Send.authorizes[0].communication.mobile,
                  telephone_1_1: formStep1Send.authorizes[0].communication.tel,
                  fax_1_1: formStep1Send.authorizes[0].communication.fax,
                  email_1_1: formStep1Send.authorizes[0].communication.email
                });
              }
            } else {
              let newBoardAddobj = [];
              if (formStep1Send.owner[0].board.length > 0) {
                newBoardAddobj = formStep1Send.owner[0].board.map(item => {
                  if (item.is_proved == 1) {
                    item["is_checked"] = true;
                  } else {
                    item["is_checked"] = false;
                  }
                  return item;
                });
              }
              that.board = newBoardAddobj;
              that.form.setFieldsValue({
                phone_0_2: formStep1Send.authorizes[0].communication.mobile,
                telephone_0_2: formStep1Send.authorizes[0].communication.tel,
                fax_0_2: formStep1Send.authorizes[0].communication.fax,
                email_0_2: formStep1Send.authorizes[0].communication.email
              });
            }
          }

          if (formStep1Send.is_company == 0) {
            if (formStep1Send.is_authorize == 0) {
              that.form.setFieldsValue({
                prefix_2_2: formStep1Send.authorizes[0].personel.ref_prefix_id,
                first_name_2_2: formStep1Send.authorizes[0].personel.first_name,
                last_name_2_2: formStep1Send.authorizes[0].personel.last_name,
                card_id_2_2: formStep1Send.authorizes[0].personel.idcard
              });

              that.form.setFieldsValue({
                phone_2_3: formStep1Send.authorizes[0].communication.mobile,
                telephone_2_3: formStep1Send.authorizes[0].communication.tel,
                fax_2_3: formStep1Send.authorizes[0].communication.fax,
                email_2_3: formStep1Send.authorizes[0].communication.email
              });
            } else {
              that.form.setFieldsValue({
                phone_0_1: formStep1Send.authorizes[0].communication.mobile,
                telephone_0_1: formStep1Send.authorizes[0].communication.tel,
                fax_0_1: formStep1Send.authorizes[0].communication.fax,
                email_0_1: formStep1Send.authorizes[0].communication.email
              });
            }
          }

          if (formStep1Send.personel) {
            that.form.setFieldsValue({
              prefix_1:
                formStep1Send.personel.ref_prefix_id != null
                  ? formStep1Send.personel.ref_prefix_id
                  : null,
              first_name_1:
                formStep1Send.personel.first_name != null
                  ? formStep1Send.personel.first_name
                  : null,
              last_name_1:
                formStep1Send.personel.last_name != null
                  ? formStep1Send.personel.last_name
                  : null,
              idcard:
                formStep1Send.personel.idcard != null
                  ? formStep1Send.personel.idcard
                  : null
            });
          }

          that.form.setFieldsValue({
            // set 2
            permittype_id: formStep1Send.ref_permittypes_id,
            purpose_id: formStep1Send.ref_purposes_id,
            // set 3
            branch_name: formStep1Send.sites.name,
            tsic: formStep1Send.sites.tsic,
            branch_detail: formStep1Send.sites.about,
            branch_address: formStep1Send.sites.address.addr1,
            branch_zipcode: formStep1Send.sites.address.code,
            branch_soi: formStep1Send.sites.address.addr2,
            branch_road: formStep1Send.sites.address.addr3,
            branch_moo: formStep1Send.sites.address.addr4,

            branch_mobile: formStep1Send.sites.communication.mobile,
            branch_tel: formStep1Send.sites.communication.tel,
            branch_fax: formStep1Send.sites.communication.fax,

            branch_amphur: formStep1.sites.address.branch_amphur,
            branch_district: formStep1.sites.address.district_id,
            branch_province: formStep1.sites.address.branch_province
          });
        }, 700);
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.set1_text {
  font-size: 14px;
  color: #000;
}
.steps-content {
  margin-top: 16px;
  /* border: 1px dashed #e9e9e9; */
  /* border-radius: 6px; */
  background-color: #ffff;
  /* min-height: 200px;
  text-align: center;
  padding-top: 80px; */
}
.headSet1 {
  font-size: 12px;
  font-weight: 900;
  color: black;
}
.tb_headSet1 {
  font-size: 12px;
  /* font-weight: 900; */
  color: black;
}
.steps-action {
  margin-top: 24px;
}
</style>
