<template>
  <div class="app">
    <a-form :form="form" @submit="nextStep">
      <!--start-set-form 7 -->
      <a-card title="6. รายละเอียดเครื่องต้นกำลัง" style="margin-top:5px;">
        <p class="headSet1">6.1 เครื่องต้นกำลังชนิดทั่วไป</p>
        <table width="100%" border="0">
          <tbody>
            <tr>
              <td align="center" class="tb_headSet1">
                <strong>รายการ</strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>ชนิดเครื่องต้นกำลัง</strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>เชื้อเพลิง (ระบุ)</strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>พิกัดกำลัง (แรงม้า)</strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>ปีที่ติดตั้งใช้งาน (พ.ศ.)</strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>ประเภทติดตั้ง</strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>ชื่อผู้ผลิต</strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>หมายเลขประจำเครื่อง</strong>
              </td>
            </tr>
            <tr v-for="(model,key) in driver_7_1" :key="key">
              <td width="8%" align="center" :v-bind="getKey(model,key)">เครื่องที่ {{key+1}}</td>
              <td width="14%" align="center">
                <a-select
                  v-model="model.power_drive"
                  required
                  @change="selectPhotovoltaic(key,model.power_drive)"
                >
                  <a-select-option v-for="wp in pw_typeData" :key="wp.id" :value="wp.id">{{wp.name}}</a-select-option>
                </a-select>
              </td>
              <td width="18%" align="center">
                <a-select v-model="model.mainfuel" required :disabled="!model.power_drive">
                  <a-select-option
                    v-for="wp in checkFuelKey(model,key)"
                    :key="wp.id"
                    :value="wp.id"
                  >{{wp.name}}</a-select-option>
                </a-select>
              </td>
              <td width="12%" align="center">
                <a-input
                  required
                  type="number"
                  min="0"
                  v-model="model.horse_power"
                  :disabled="!model.power_drive||checkDisabledPhotovoltaic(key)"
                />
              </td>
              <td width="12%" align="center">
                <a-input
                  required
                  v-model="model.installed_year"
                  :disabled="!model.power_drive"
                  maxlength="4"
                />
              </td>
              <td width="12%" align="center">
                <a-select v-model="model.install_type" :disabled="!model.power_drive">
                  <a-select-option
                    v-for="ins in installArray"
                    :key="ins.id"
                    :value="ins.id"
                  >{{ins.name}}</a-select-option>
                </a-select>
              </td>
              <td width="12%" align="center">
                <a-input v-model="model.brand" :disabled="!model.power_drive" />
              </td>
              <td width="12%" align="center">
                <a-input v-model="model.machine_num" :disabled="!model.power_drive" />
              </td>
              <td width="12%" align="center">
                <a-button
                  v-if="driver_7_1.length >1"
                  type="danger"
                  shape="circle"
                  icon="minus-circle-o"
                  size="small"
                  :disabled="driver_7_1.length === 1"
                  @click="removeInputSet1(key)"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <a-row>
          <a-col span="22" offset="1">
            <a-button
              style="width: 100%; margin-top: 16px; margin-bottom: 8px"
              type="dashed"
              icon="plus"
              @click="addInputSet1"
            >เพิ่มจำนวน</a-button>
          </a-col>
        </a-row>
        <hr style=" border-top: 0.1px solid #e4d8d8" />
        <div v-for="(item,index) in driver_arrayKey" :key="index">
          <p class="headSet1">
            <span style="color:red" v-if="item.key_drive==0 || 1">( ชุดที่ {{item.key_drive+1}} )</span>
            <span style="color:red" v-else>( ชุดที่ {{item.key_drive}} )</span>
            แผงโฟโตโวลเทอิก
          </p>
          <table width="100%" border="0">
            <tbody>
              <tr>
                <td align="center" class="tb_headSet1">
                  <strong>รายการ</strong>
                </td>
                <td align="center" class="tb_headSet1">
                  <strong>เลือกแบบ</strong>
                </td>
                <td align="center" class="tb_headSet1">
                  <strong>เลือกชนิด</strong>
                </td>

                <td align="center" class="tb_headSet1">
                  <strong>ขนาด (วัตต์/แผง)</strong>
                </td>
                <td align="center" class="tb_headSet1">
                  <strong>จำนวนแผง</strong>
                </td>
              </tr>
              <tr v-for="(model,key) in item.details" :key="key">
                <td width="8%" align="center" v-bind="getCellType(model,key+1)">แบบที่ {{key+1}}</td>

                <td width="16%" align="center">
                  <a-select v-model="model.ref_solartype_id" required>
                    <a-select-option
                      v-for="sr in solar_Data"
                      :key="sr.id"
                      :value="sr.id"
                    >{{sr.name}}</a-select-option>
                  </a-select>
                </td>
                <td width="16%" align="center">
                  <a-select v-model="model.ref_solar_id" :disabled="!model.ref_solartype_id">
                    <a-select-option
                      v-for="ph in ph_typeData"
                      :key="ph.id"
                      :value="ph.id"
                    >{{ph.solar_type}}</a-select-option>
                  </a-select>
                </td>
                <td width="14%" align="center">
                  <a-input
                    required
                    type="number"
                    min="0"
                    v-model="model.power"
                    :disabled="!model.ref_solartype_id"
                  />
                </td>
                <td width="14%" align="center">
                  <a-input
                    required
                    type="number"
                    min="0"
                    v-model="model.num_cell"
                    :disabled="!model.ref_solartype_id  "
                  />
                </td>

                <td width="8%" align="center">
                  <a-button
                    v-if="item.details.length >1"
                    type="danger"
                    shape="circle"
                    icon="minus-circle-o"
                    size="small"
                    @click="removeInputSet2(item,key)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <a-row>
            <a-col span="22" offset="1">
              <a-button
                style="width: 100%; margin-top: 16px; margin-bottom: 8px"
                type="dashed"
                icon="plus"
                @click="addInputSet2(item)"
              >เพิ่มจำนวน</a-button>
            </a-col>
          </a-row>
        </div>
        <div style="margin-bottom:14px; margin-left:8px;  color: #d81414c4;">
          <strong>หมายเหตุ:</strong> กรณีมีเครื่องต้นกำลังหลายเครื่อง ให้คลิก "เพิ่มจำนวน" และกรอกรายละเอียดให้ครบ
        </div>
      </a-card>
      <a-card title="7. รายละเอียดเครื่องผลิตไฟฟ้า
" style="margin-top:5px;">
        <table width="100%" border="0">
          <tbody>
            <tr>
              <td align="center" class="tb_headSet1">
                <strong>รายการ</strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>ชนิด</strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>
                  พิกัดกำลัง
                  <br />(กิโลโวลต์แอมแปร์)
                </strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>
                  พิกัดแรงดัน
                  <br />(โวลต์)
                </strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>
                  พิกัดกระแส
                  <br />(แอมแปร์)
                </strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>
                  ตัวประกอบกำลัง
                  <br />(%)
                </strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>
                  ปีที่ติดตั้งใช้งาน
                  <br />(พ.ศ.)
                </strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>ประเภทติดตั้ง</strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>ชื่อผู้ผลิต</strong>
              </td>
              <td align="center" class="tb_headSet1">
                <strong>หมายเลขประจำเครื่อง</strong>
              </td>
              <td></td>
            </tr>
            <tr v-for="(model,key) in gen" :key="key">
              <td width="7%" align="center">เครื่องที่ {{ model.no =key+1}}</td>
              <td width="16%" align="center">
                <a-select v-model="model.ref_gentype_id" required>
                  <a-select-option
                    v-for="ge in gentype_Data"
                    :key="ge.id"
                    :value="ge.id"
                  >{{ge.name}}</a-select-option>
                </a-select>
              </td>
              <td width="10%" align="center">
                <a-input
                  required
                  type="number"
                  min="0"
                  v-model="model.c_power"
                  :disabled="!model.ref_gentype_id"
                />
              </td>
              <td width="10%" align="center">
                <a-input
                  required
                  type="number"
                  min="0"
                  v-model="model.c_voltage"
                  :disabled="!model.ref_gentype_id"
                />
              </td>
              <td width="10%" align="center">
                <a-input
                  required
                  type="number"
                  min="0"
                  v-model="model.c_current"
                  :disabled="!model.ref_gentype_id"
                />
              </td>
              <td width="10%" align="center">
                <a-input
                  type="number"
                  min="0"
                  v-model="model.c_factor"
                  :disabled="!model.ref_gentype_id"
                />
              </td>
              <td width="10%" align="center">
                <a-input
                  v-model="model.c_installed_year"
                  :disabled="!model.ref_gentype_id"
                  maxlength="4"
                />
              </td>
              <td width="10%" align="center">
                <a-select v-model="model.install_type" :disabled="!model.ref_gentype_id">
                  <a-select-option
                    v-for="ins in installArray"
                    :key="ins.id"
                    :value="ins.id"
                  >{{ins.name}}</a-select-option>
                </a-select>
              </td>
              <td width="10%" align="center">
                <a-input v-model="model.c_brand" :disabled="!model.ref_gentype_id" />
              </td>
              <td width="10%" align="center">
                <a-input v-model="model.c_machine_num" :disabled="!model.ref_gentype_id" />
              </td>
              <td width="7%" align="center">
                <a-button
                  v-if="gen.length >0"
                  type="danger"
                  shape="circle"
                  icon="minus-circle-o"
                  :disabled="gen.length === 1"
                  size="small"
                  @click="removeInputSet8(key)"
                />
                <a-popover trigger="click">
                  <template slot="content">
                    <a-form layout="inline" @submit="copyArray(model,key,$event)" :form="formCopy">
                      <a-form-item>
                        <a-input
                          :id="'copy-'+key"
                          :ref="'copy-'+key"
                          :name="'copy-'+key"
                          size="small"
                          v-decorator="[
                          'copy-'+key,
                            { rules: [{ required: true, message: 'กรุณา จำนวนคัดลอก !' }] }
                        ]"
                          placeholder="จำนวนคัดลอก"
                        />
                      </a-form-item>

                      <a-form-item>
                        <a-button size="small" icon="check-circle" html-type="submit"></a-button>
                      </a-form-item>
                    </a-form>
                  </template>
                  <a-button
                    :id="'btnCopy-'+key"
                    shape="circle"
                    type="dashed"
                    icon="copy"
                    size="small"
                    v-if="gen.length >0"
                    @click="showCopy(key)"
                  />
                </a-popover>
              </td>
            </tr>
          </tbody>
        </table>
        <a-row>
          <a-col span="22" offset="1">
            <a-button
              style="width: 100%; margin-top: 16px; margin-bottom: 8px"
              type="dashed"
              icon="plus"
              @click="addInputSet8"
            >เพิ่มจำนวน</a-button>
          </a-col>
        </a-row>
      </a-card>
      <a-form-item :wrapperCol="{span: 19, offset: 10}" style="margin-top: 10px;">
        <a-button style="margin-right: 8px;" @click="prevStep">Previous</a-button>
        <a-button :loading="loading" type="primary" html-type="submit">Next</a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Step2",
  props: {
    msg: String
  },
  data() {
    return {
      form: this.$form.createForm(this),
      formCopy: this.$form.createForm(this),
      loading: false,
      visible: false,
      visible_copy: false,
      checkShow: false,
      timer: 0,
      ip_server: this.$store.getters.getIpServe,
      installArray: [
        { id: 1, name: "ติดตั้งใหม่" },
        { id: 2, name: "เครื่องเดิม" }
      ],
      pw_typeData: [],
      pw_fuelData: [],
      ph_typeData: [],
      solar_Data: [],
      gentype_Data: [],
      driver_7_1: [
        {
          key_list: null,
          no: null,
          power_drive: null,
          mainfuel: "",
          horse_power: "",
          is_solar: 0,
          installed_year: "",
          brand: "",
          install_type: "",
          machine_num: "",
          details: []
        }
      ],
      driver_arrayKey: [],
      gen: [
        {
          no: null,
          ref_gentype_id: null, //ชนิด
          g_type: null,
          c_power: "", //พิกัดกำลัง กิโลโวลต์แอมแปร์)
          c_voltage: "", //พิกัดแรงดัน (โวลต์)
          c_current: "", //พิกัดกระแส (แอมแปร์)
          c_factor: "", //ตัวประกอบกำลัง (%)
          g_pole: null,
          g_used: null,
          c_installed_year: "", //ปีที่ติดตั้งใช้งาน (พ.ศ.)
          c_brand: "", //ชื่อผู้ผลิต
          install_type: "",
          c_serie: null,
          c_machine_num: "", //หมายเลขประจำเครื่อง
          c_purpose_id: null,
          c_permittype_id: null
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      window.scrollTo(0, 0);

      this.form.validateFields();
      // get plant
      axios.get(`${this.ip_server}/plant`).then(response => {
        this.pw_typeData = response.data.data;
      });

      // get fuel
      axios.get(`${this.ip_server}/fuel`).then(response => {
        this.pw_fuelData = response.data.data;
      });
      // get solartype
      axios.get(`${this.ip_server}/solartype`).then(response => {
        this.ph_typeData = response.data.data;
      });

      // get solar
      axios.get(`${this.ip_server}/solar`).then(response => {
        this.solar_Data = response.data.data;
      });

      // get gentype
      axios.get(`${this.ip_server}/gentype`).then(response => {
        this.gentype_Data = response.data.data;
      });
      this.setLocalState2();
    });
  },
  methods: {
    /* eslint-disable */
    showCopy(index) {
      this.visible_copy = true;
    },

    copyArray(model, key, e) {
      e.preventDefault();
      let Id = "copy-" + key;
      let valueId = parseInt(this.$refs[Id][0].value);
      let btnCopy = "btnCopy-" + key;
      if (valueId && valueId > 0) {
        this.visible_copy = false;
        for (var i = 0; i < valueId; i++) {
          this.gen.push(this.lodash.cloneDeep(model));
        }
        //remove state value
        document.getElementById(btnCopy).click();
        this.formCopy.resetFields();
      }
    },
    getCellType(model, key) {
      model.cell_type = `แบบ ${key}`;
    },
    getKey(model, key) {
      model.key_list = key;
      model.no = key + 1;
    },
    handleOk() {
      this.visible = false;
    },
    checkFuelKey(model, keys) {
      let fuelKey = [];
      let driver_arrayKey = this.driver_arrayKey.filter(
        item => item.key_drive === keys
      );
      if (driver_arrayKey.length > 0) {
        fuelKey = this.pw_fuelData.filter(item => item.KEY === "A");
        if (fuelKey.length === 1) {
          let selectAuto = this.pw_fuelData.find(item => item.KEY === "A");
          if (selectAuto) model.mainfuel = selectAuto.id;
        }
      } else {
        fuelKey = this.pw_fuelData;
      }
      return fuelKey;
    },
    checkDisabledPhotovoltaic(key) {
      return this.driver_arrayKey.filter(item => item.key_drive === key)
        .length > 0
        ? true
        : false;
    },
    selectPhotovoltaic(key, id) {
      let photovoltaic = this.pw_typeData.find(item => item.id === id);
      if (photovoltaic.KEY === "1") {
        this.driver_arrayKey.push({
          key_drive: key,
          details: [
            {
              ref_solar_id: null,
              ref_solartype_id: null,
              power: null,
              num_cell: null,
              cell_type: null
            }
          ]
        });
      } else {
        this.driver_arrayKey = this.driver_arrayKey.filter(
          items => items.key_drive !== key
        );
      }
    },
    addInputSet1() {
      this.driver_7_1.push({
        key_list: null,
        no: null,
        power_drive: "", //ชนิดเครื่องต้นกำลัง
        mainfuel: "", //เชื้อเพลิง (ระบุ)
        horse_power: "", //พิกัดกำลัง (แรงม้า)
        installed_year: "",
        install_type: "",
        is_solar: 0,
        brand: "",
        machine_num: "",
        details: []
      });
    },
    addInputSet2(model) {
      model.details.push({
        ref_solar_id: null,
        ref_solartype_id: "",
        power: "",
        num_cell: "",
        cell_type: null
      });
    },
    addInputSet8() {
      this.gen.push({
        no: null,
        ref_gentype_id: null, //ชนิด
        g_type: null,
        c_power: "", //พิกัดกำลัง กิโลโวลต์แอมแปร์)
        c_voltage: "", //พิกัดแรงดัน (โวลต์)
        c_current: "", //พิกัดกระแส (แอมแปร์)
        c_factor: "", //ตัวประกอบกำลัง (%)
        g_pole: null,
        g_used: null,
        c_installed_year: "", //ปีที่ติดตั้งใช้งาน (พ.ศ.)
        c_brand: "", //ชื่อผู้ผลิต
        c_serie: null,
        c_machine_num: "", //หมายเลขประจำเครื่อง
        c_purpose_id: null,
        c_permittype_id: null
      });
    },
    removeInputSet1(index) {
      this.driver_7_1.splice(index, 1);
      this.driver_arrayKey = this.driver_arrayKey.filter(
        items => items.key_drive !== index
      );
    },
    removeInputSet2(model, index) {
      model.details.splice(index, 1);
    },
    removeInputSet8(index) {
      this.gen.splice(index, 1);
    },
    nextStep(e) {
      e.preventDefault();
      const that = this;
      that.loading = true;
      const ref_gentype_id = this.gen
        .map(item => {
          if (item.ref_gentype_id == "" || !item.ref_gentype_id) {
            return true;
          } else {
            return false;
          }
        })
        .filter(data => data);
      let power_drive = this.driver_7_1
        .map(item => {
          if (!item.power_drive && !item.mainfuel) {
            return true;
          } else {
            return false;
          }
        })
        .filter(data => data);
      if (this.driver_arrayKey.length > 0) {
        this.driver_arrayKey.filter(item => {
          return item.details.map(dt => {
            if (
              dt.ref_solar_id != undefined &&
              dt.ref_solartype_id !== undefined
            ) {
              return true;
            } else {
              return false;
            }
          });
        });
      }

      if (e && ref_gentype_id.length == 0 && power_drive.length == 0) {
        let drivers_merge = this.driver_7_1.map(item => {
          this.driver_arrayKey.filter(data => {
            if (data.key_drive === item.key_list) {
              item.details = data.details.filter(
                item => item.ref_solar_id && item.ref_solartype_id
              );
              item.is_solar = 1;
            }
          });
          let Obj = {
            no: item.no,
            power_drive: item.power_drive,
            is_solar: item.is_solar,
            solar: item.solar,
            mainfuel: item.mainfuel,
            installed_year: item.installed_year,
            install_type: item.install_type,
            brand: item.brand,
            serie: item.serie,
            horse_power: item.horse_power,
            machine_num: item.machine_num,
            details: item.details
          };
          return Obj;
        });
        let requestSend = {
          driver_7_1: this.driver_7_1,
          driver_arrayKey: this.driver_arrayKey,
          gen: this.gen,
          drivers: drivers_merge
        };
        that.timer = setTimeout(function() {
          that.loading = false;
          that.$emit("nextStep");
          that.$store.commit("formStep2State", requestSend);
        }, 1500);
      } else {
        that.loading = false;
        this.$notification["error"]({
          message: "กรุณากรอกข้อมูล",
          description: "กรุณากรอกข้อมูลให้ครบทุกช่อง !"
        });
      }
    },
    prevStep() {
      this.$emit("prevStep");
    },
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log("Received values of form: ", values);
        }
      });
    },
    setLocalState2() {
      let formStep2 = JSON.parse(localStorage.getItem("formStep2"));
      if (formStep2) {
        this.gen = formStep2.gen;
        this.driver_arrayKey = formStep2.driver_arrayKey;
        this.driver_7_1 = formStep2.driver_7_1;
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.steps-content {
  margin-top: 16px;
  /* border: 1px dashed #e9e9e9; */
  /* border-radius: 6px; */
  background-color: #ffff;
  /* min-height: 200px;
  text-align: center;
  padding-top: 80px; */
}

.steps-action {
  margin-top: 24px;
}
.headSet1 {
  font-size: 12px;
  font-weight: 900;
  color: black;
}
.tb_headSet1 {
  font-size: 11px;
  font-weight: 900;
  color: black;
}
</style>
