<template>
  <FormRegisterStep></FormRegisterStep>
</template>

<script>
import FormRegisterStep from "./components/FormRegisterStep";
export default {
  name: "app",
  components: {
    FormRegisterStep
  }
};
</script>

<style>
</style>
